@media (max-width: 1005px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav {
        flex-wrap: nowrap;
        height: auto;
    } 

    .cabecalho a {
        padding: 5vh 0;
        font-size: 2rem;
    }
}
