@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./breakpoint-1005px.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.7%px;
}


.tit-sec {
    text-align: center;
    font-size: 5em;
}

/* Tabela */
table {
    margin: 5% auto;
    border-collapse: collapse;
}

td,th {
    border: 1px solid rgb(1, 21, 1);
    padding: 8px;
}

/*cor das linhas pares*/
tr:nth-child(even){
    background-color: rgb(144, 247, 238);
}

/*cor das linhas ímpares*/
tr:nth-child(odd){
    background-color: rgb(60, 165, 158);
}

/*cor para quando passa o mouse*/
tr:hover{
    background-color: rgb(112, 236, 188);
}

/*Para mesclar linhas e colunas*/
td[colspan],td[rowspan] {
    text-align: center;
}