@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./breakpoint-1005px.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 62.7%px;
}


.tit-sec {
    text-align: center;
    font-size: 5em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:aquamarine ;
}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a:hover {
    color: black;
    background-color: aliceblue;
}

.cabecalho img {
    width: 30%;
    max-width: 30%;
}
/*vw = view width
vh = view height*/

/*breackpoint  = 1005*/