.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(190, 136, 240);
}

.rodape nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodape nav img {
    max-width: 10%;
    display: block;
    margin: 0 auto;
}

.rodape nav a {
    padding: 5% 0;
    width: 100%;
}

.rodape nav a:hover {
    background-color: blueviolet;   
}

.tit-rod {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}